@import url("../../Theme.scss");

.countrie {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg2);

  &__loading-component {
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(000, 0, 0, 0.6);
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    min-height: 100%;
    min-width: 100%;
    padding: 80px;
    color: var(--textColor);
    flex-direction: column;

    &__btn {
      width: 135px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      gap: 8px;
      padding: 20px 34px;

      &:hover {
        border: 1px solid var(--textColor);
        transition: 0.4s ease;
      }
    }

    &__container {
      margin-top: 75px;
      display: flex;
      gap: 15rem;

      &__image {
        flex: 1;
        max-width: 560px;
        max-height: 440px;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .countrie-flag {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__texts {
        flex: 1.5;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__title p {
          font-weight: 600;
          font-size: 24px;
        }

        &__values {
          display: flex;
          gap: 120px;

          .first-half {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &__element {
              display: flex;
              gap: 5px;

              .bold {
                font-weight: 600;
              }
            }
          }

          .second-half {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &__element {
              display: flex;
              gap: 5px;

              .bold {
                font-weight: 600;
              }
            }
          }
        }

        &__borders {
          display: flex;
          gap: 15px;

          .title-borders {
            font-weight: 600;
            text-wrap: nowrap;
          }

          &__border-group {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;

            .border-item {
              background: var(--bg1);
              padding: 0.4rem 1rem;
              border-radius: 4px;
              font-size: 0.9rem;
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}

@import "./Specific-countrieMobile.scss";
