@import "../../Theme.scss";

.home {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    flex: 1 0 auto;
    background-color: var(--bg2);
    min-height: 100%;
  }
}
