@import "../../Theme.scss";

.home {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  &__items {
    max-width: 100%;
    flex: 1 0 auto;
    background-color: var(--bg2);
    min-height: 100%;
    padding: 40px 70px;

    &__config {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__search {
        position: relative;
        display: flex;
        align-items: center;

        .icon {
          position: absolute;
          left: 10px;
          fill: var(--textColor);
        }

        .input_search {
          font-size: 15px;
          background: transparent;
          border: 1px solid transparent;
          padding: 17px 17px 17px 35px;
          border-radius: 10px;
          width: 435px;
          background-color: var(--bg1);
          outline: none;
          color: var(--textColor);
          box-shadow: var(--boxShadow);
        }
      }

      &__filter {
        .custom-select {
          border-radius: 10px;
          background-color: var(--bg1);
          box-shadow: var(--boxShadow);
          color: var(--textColor);

          &:hover {
            background-color: var(--bg1);
          }
        }
      }

      &__loading-component {
        border: 1px solid;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(000, 0, 0, 0.6);
      }
    }

    &__countrie-group {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 330px));
      gap: 73px;

      &__error-handler {
        grid-column: 1 / -1;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: var(--textColor);
          font-size: 20px;
          font-weight: 600;
        }
      }

      &__countrie-item {
        min-height: 430px;
        max-width: 330px;
        border-radius: 10px;
        background-color: var(--bg1);
        box-shadow: var(--boxShadow);
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--textColor);
          transition: 0.4s ease;
        }

        &__flag {
          height: 218px;

          .image {
            height: 100%;
            width: 100%;
            object-fit: fill;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        &__text {
          gap: 20px;
          display: flex;
          flex-direction: column;
          padding: 35px 30px;
          color: var(--textColor);

          .title p {
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }
  }
}


@import './Home-mobile.scss';