@import "../../Theme.scss";

.header {
  height: 80px;
  width: 100%;
  background-color: var(--bg1);
  color: var(--textColor);
  display: flex;
  align-items: center;
  padding: 30px 70px;
  transition: 0.3s ease;
  justify-content: space-between;
  position: relative;
  box-shadow: var(--boxShadow);

  &__title p {
    font-size: 21px;
    font-weight: 700;
  }

  &__theme {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &__icon {
      display: flex;
      align-items: center;
    }

    &__title p {
      font-size: 16px;
    }
  }
}
